$backgroundColor-app: linear-gradient(151deg, #0EA5E9 0%, #43d0c7 60%);
$padding-app: 25px;
$padding-form: 32px;
$max-widthForm: 537px;
$fontsize: 0.8rem;
$borderRadius-form: 25px;
$colorText-black: black;
$backgroundColor-button: #00b4d8;
$colorText-white: #fff;
$borderRadius-button: 8px;
$paddingLeft-select: 25px;
