$background-color-app: linear-gradient(151deg, #0EA5E9 0%, #43d0c7 60%);
$padding-app: 25px;
$padding-form: 32px;
$max-width-form: 537px;
$default-fonts-size: 0.8rem;
$border-radius-form: 25px;
$color-text-black: black;
$background-color-button: #00b4d8;
$color-text-white: #fff;
$border-radius-button: 8px;
$padding-left-select: 25px;

